<!DOCTYPE html>
<html lang="en-CA">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Accessibility Audit for {{ title }}{% endblock %}</title>
  <link rel="stylesheet" href="/assets/styles/a11y-dark.min.css">
  <link rel="stylesheet" href="/assets/styles/report.css">
  <link rel="stylesheet" href="/assets/styles/print.css" media="print">
  <link rel="stylesheet" href="/assets/styles/screen.css" media="screen">
  {% block meta %}{% endblock %}
</head>
<body>
    {{ content | safe }}
    <script type="module" src="/assets/scripts/table-saw.js"></script>
</body>
</html>
