---
layout: base
---
{% set issueList = issues | withoutTips %}
{% set tipsList = issues | withoutViolations %}

<section id="start">
  <img src="/assets/images/logo.svg" alt="Logo of the Inclusive Design Research Centre" class="logo">

  <h1>Accessibility Audit for {{ title }}</h1>

  <dl>
    <dt>Evaluated by</dt>
    <dd>{% for evaluator in evaluators %}{{ evaluator }}{% if not loop.last%}, {% endif %}{% endfor %}</dd>
    <dt>Commissioned by</dt>
    <dd>{{ commissioner }}</dd>
    <dt>Target</dt>
    <dd>WCAG {{ targetWcagVersion }}, Level {{ targetLevel }}</dd>
    <dt>Date</dt>
    <dd>{{ date | formatDate }}</dd>
    {% if specialRequirements %}
    <dt>Special requirements</dt>
    <dd>{{ specialRequirements }}</dd>
    {% endif %}
  </dl>
</section>

<section id="executive-summary">
  <h2>Executive summary</h2>
  {{ content | safe }}
  <h3>Results per principle</h3>
  <table-saw>
  {% scTable issueList, targetLevel, targetWcagVersion %}
  </table-saw>
  <h3>Detailed results</h3>
<table-saw>
  {% scSupport targetLevel, targetWcagVersion, issueList, notSupported, notApplicable %}
  </table-saw>
</section>

<section id="about-this-report">
  <h2>About this report</h2>
  {% renderString about, "md" %}
  <h3>Methodology</h3>
  <div>{% renderString methodology, "md" %}</div>
  <h3>How to interpret</h3>
  <div>{% renderString interpretation, "md" %}</div>
</section>

<section id="scope">
  <h2>Scope</h2>
  <h3>Pages</h3>
  <div>
  {% if scope %}
  <p>Scope:
  <ol class="sample-list">
    {% for scope in scope %}
    <li id="{{ scope.title | slugify }}">
      <!-- TODO: Add screenshots -->
      {# <div><img src="" alt="" /></div> #}
      <div>
        <strong>{{ scope.title }}</strong>
        <a href="{{ scope.url }}">{{ scope.url }}</a>
        {% if scope.description %}<p>{{ scope.description }}</p>{% endif %}
      </div>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
  {% if outOfScope %}
  <p>Not in scope:
  <ul>
    {% for outOfScope in outOfScope %}
    <li>
        <a href="{{ outOfScope.url }}">{{ outOfScope.url }}</a>
        {% if outOfScope.description %}<p>{{ outOfScope.description }}</p>{% endif %}
    </li>
    {% endfor %}
    {% endif %}
  </ul>
  </div>
  <h3>Tools used</h3>
  <div>
  <p>In conducting this audit, the following tools were used:</p>
  <ul>
    {% for tool in tools %}
    <li>{{ tool.name }}{% if tool.version %} {{ tool.version }}{% endif %}</li>
    {% endfor %}
  </ul>
  </div>
  <h3>Technologies used</h3>
  <div>
  <p>The audited web page relies on the following technologies:</p>
  <ul>
    {% for technology in technologies %}
    <li>{{ technology }}</li>
    {% endfor %}
  </ul>
  </div>
</section>

<section id="issues">
  <h2>Issues</h2>
  {% set sc = '' %}
  {% for issue in issueList %}
    {% if sc !== issue.sc %}
      {% set sc = issue.sc %}
      {% set newSc = true %}
    {% else %}
      {% set newSc = false %}
    {% endif %}
    {% if newSc %}
    <h3 id="{{ successcriteria[sc].name | slugify }}">{{ sc }}: {{ successcriteria[sc].name }} (Level {{ successcriteria[sc].level }})</h3>
    <div>
    {% endif %}
    {% if issue.fileSlug !== page.fileSlug %}
    <article class="issue">
      <header class="issue-title">
        <h4 id="{{ issue.title | slugify }}">{{ issue.title }}</h4>
        {% newIssueUrl issue.title, issue.rawInput, issue.sample, issuesUrl %}
      </header>
      {% renderString issue.body, "md" %}
      <div class="issue-meta">
        <dl>
          {% if issue.severity == 'High' %}
          <div>
            <dt>Severity: </dt>
            <dd>{{ issue.severity }}</dd>
          </div>
          {% endif %}
          <div>
            <dt>Pages: </dt>
            {% if issue.sample == "all" %}
            <dd>All pages</dd>
            {% else %}
            <dd><a href="#{{ issue.sample | slug }}">{{ issue.sample }}</a></dd>
            {% endif %}
          </div>
        </dl>
      </div>
    </article>
    {% endif %}
    {% if newSc %}
    </div>
    {% endif %}
  {% endfor %}
</section>

<script src="/assets/scripts/criteria.js"></script>

{% if tipsList.length %}
<section id="tips">
  <h2>Tips</h2>
  {% for issue in tipsList %}
    {% if issue.fileSlug !== page.fileSlug %}
    <article class="issue">
      <header class="issue-title">
      <h3 class="issue-title">{{ issue.title }}</h3>
      </header>
      {% renderString issue.body, "md" %}

      <div class="issue-meta">
        <dl>
          <div>
            <dt>Sample: </dt>
            {% if issue.sample == "all" %}
            <dd>All pages</dd>
            {% else %}
            <dd><a href="#{{ issue.sample | slug }}">{{ issue.sample }}</a></dd>
            {% endif %}
          </div>
        </dl>
      </div>
    </article>
    {% endif %}
  {% endfor %}
</section>
{% endif %}
