/* stylelint-disable at-rule-property-required-list */

@font-face {
	font-family: 'Noto Sans Mono';
	font-style: normal;
	font-weight: normal;
	src:
		url('../fonts/noto-sans-mono-v30-latin-regular.woff2') format('woff2'),
		url('../fonts/noto-sans-mono-v30-latin-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: normal;
	src:
		url('../fonts/noto-serif-v23-latin-regular.woff2') format('woff2'),
		url('../fonts/noto-serif-v23-latin-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: normal;
	src:
		url('../fonts/noto-serif-v23-latin-italic.woff2') format('woff2'),
		url('../fonts/noto-serif-v23-latin-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: bold;
	src:
		url('../fonts/noto-serif-v23-latin-700.woff2') format('woff2'),
		url('../fonts/noto-serif-v23-latin-700.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: bold;
	src:
		url('../fonts/noto-serif-v23-latin-700italic.woff2') format('woff2'),
		url('../fonts/noto-serif-v23-latin-700italic.ttf') format('truetype');
}

body {
	font-size: 10pt;
}

.issue {
	break-inside: avoid;
	border: none;
	padding: 0;
}

.issue-meta {
	background-color: transparent;
	border-top: 2px solid #dcdcdc;
}

.issue-meta div {
	margin-bottom: 1em;
}

.issue img {
	max-height: 5cm;
}

a.wcag-link,
a.wcag-link:visited {
	text-decoration: underline;
	background-color: transparent;
	color: #191970;
	padding: 0;
	font-size: inherit;
	border-radius: 0;
}

@page {
	size: 8.5in 11in;
	margin: 1in;
	@bottom-center {
		content: 'Page ' counter(page) ' of ' counter(pages);
	}
}

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #f8f8f2;
	background: none;
	font-family: 'Noto Sans Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
}

pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: #2b2b2b;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #d4d0ab;
}

.token.punctuation {
	color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ffa07a;
}

.token.boolean,
.token.number {
	color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #ffd700;
}

.token.keyword {
	color: #00e0e0;
}

.token.regex,
.token.important {
	color: #ffd700;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
