@page {
	margin: 1in;
	size: 8.5in 11in;
	@bottom-center {
		content: 'Page ' counter(page) ' of ' counter(pages);
	}
}

body {
	font-size: 10pt;
}

.issue {
	border: none;
	break-inside: avoid;
	padding: 0;
}

.issue-meta {
	background-color: transparent;
	border-top: 2px solid #dcdcdc;
}

.issue-meta div {
	margin-bottom: 1em;
}

.issue img {
	max-height: 5cm;
}

a.wcag-link,
a.wcag-link:visited {
	background-color: transparent;
	border-radius: 0;
	color: #191970;
	font-size: inherit;
	padding: 0;
	text-decoration: underline;
}
