body {
	font-size: 10pt;
}

.issue {
	border: none;
	padding: 0;
	break-before: page;
}

.issue-meta {
	background-color: transparent;
	border-top: 2px solid #dcdcdc;
}

.issue-meta div {
	margin-bottom: 1em;
}

.issue img {
	max-height: 5cm;
}

.wcag-link {
	text-decoration: underline;
	background-color: transparent;
	color: #00e;
	padding: 0;
	font-size: inherit;
	border-radius: 0;
}
