* {
	box-sizing: border-box;
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans Mono';
	font-style: normal;
	font-weight: normal;
	src:
		url('../fonts/noto-sans-mono-v30-latin-regular.woff2') format('woff2'),
		url('../fonts/noto-sans-mono-v30-latin-regular.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: normal;
	src:
		url('../fonts/noto-serif-v23-latin-regular.woff2') format('woff2'),
		url('../fonts/noto-serif-v23-latin-regular.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: normal;
	src:
		url('../fonts/noto-serif-v23-latin-italic.woff2') format('woff2'),
		url('../fonts/noto-serif-v23-latin-italic.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: bold;
	src:
		url('../fonts/noto-serif-v23-latin-700.woff2') format('woff2'),
		url('../fonts/noto-serif-v23-latin-700.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: bold;
	src:
		url('../fonts/noto-serif-v23-latin-700italic.woff2') format('woff2'),
		url('../fonts/noto-serif-v23-latin-700italic.ttf') format('truetype');
}

body {
	font-family: 'Noto Serif', Georgia, serif;
	margin: 2em auto;
	max-width: 50em;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 6em;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	color: #191970;
	font-size: 1.25rem;
	margin-top: 3em;
}

h4 {
	font-size: 1.125rem;
}

h5 {
	font-size: 1rem;
}

hr {
	background-color: #dcdcdc;
	border: none;
	height: 0.125em;
	margin: 2em 0;
}

dl dt {
	font-weight: bold;
	margin-top: 0.25em;
}

dl dt:not(:first-child) {
	margin-top: 1em;
}

dl dd {
	margin-left: 0;
}

body > section {
	margin: 0 0 3em;
	padding: 0 2em;
}

body > section > h2:first-child {
	margin-top: 0;
}

img {
	max-height: 50%;
	max-width: 100%;
}

a,
a:visited {
	color: #191970;
}

a svg {
	vertical-align: middle;
}

p code,
li code {
	border: 1px solid #ccc;
	color: #d91e18;
	display: inline-block;
	font-family: 'Noto Sans Mono', monospace;
	margin: 0 0.125em;
	padding: 0 0.125em;
}

pre,
code,
code[class*='language-'],
pre[class*='language-'] {
	font-family: 'Noto Sans Mono', monospace;
	font-size: 0.875rem;
}

.issue {
	border: 1px solid #d3d3d3;
	counter-increment: issue-number;
	margin: 2em 0 3em;
	padding: 1rem;
}

.issue header {
	align-items: flex-end;
	background-color: #e6e6fa;
	display: flex;
	justify-content: space-between;
	margin: -1rem -1rem 2rem;
	padding: 0.75rem 1em;
}

.issue header h4 {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	margin-top: 0;
}

.issue header .number {
	background-color: #191970;
	border: none;
	color: #fff;
	font-size: 65%;
	margin-bottom: 0.4em;
	margin-right: auto;
	padding: 0.25em 0.5em;
}

.issue header a {
	margin-bottom: 0.25rem;
}

.issue-meta {
	background: #eee;
	border-radius: 0.25em;
	margin: 2em -1em -1em;
	padding: 0.5em 1em;
}

.issue-meta dl {
	display: flex;
	flex-flow: wrap;
	margin: 0;
}

.issue-meta dd {
	display: flex;
	flex-wrap: wrap;
}

.issue-meta div {
	margin: 0 2.5% 2.5% 0;
	width: 45%;
}

.sample-list {
	margin: 0;
	padding: 0;
}

.sample-list li {
	counter-increment: sample-list;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 1.5em 0;
}

.sample-list li strong::before {
	content: counter(sample-list) ': ';
}

.sample-list li:not(:first-child) {
	border-top: 1px solid #d3d3d3;
}

.sample-list li a {
	color: #191970;
	display: block;
	font-family: 'Noto Sans Mono', monospace;
	font-size: 0.75rem;
	margin: 0.5em 0;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 35em;
}

.sample-list img {
	border: 1px solid #ccc;
	margin-right: 2em;
	max-height: 100%;
	max-width: 12em;
}

.sc-table dt:last-of-type,
.sc-table dd:last-of-type {
	margin-top: 0.5em;
}

.logo {
	max-width: 11em;
}

.wcag-link {
	background-color: #191970;
	border-radius: 1em;
	color: #fff;
	font-size: 0.75em;
	padding: 0.25em 1em;
	text-decoration: none;
}

.external {
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

table {
	border-collapse: collapse;
}

td,
th {
	border-bottom: 1px solid #808080;
	padding: 0.5em 3em 0.5em 0;
	text-align: start;
}

th {
	font-weight: bold;
}

.issue-meta a + a {
	margin-left: 0.5rem;
}
